@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600|Josefin+Slab:300,400,600,700");
html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
i,
img,
div,
span,
p {
  margin: 0;
  padding: 0; }

body {
  color: #232223; }

a,
a:active,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none; }

ul {
  list-style: none; }

sub {
  font-size: 0.8rem; }

.bold {
  font-weight: bold; }

.container-test {
  display: grid;
  grid-template-columns: 6% repeat(5, 1fr) 6%;
  grid-template-rows: 124px repeat(5, 1fr) 6%;
  height: 100vh; }

.container-no_footer {
  display: grid;
  grid-template-columns: 6% repeat(5, 1fr) 6%;
  grid-template-rows: 96px repeat(5, 1fr);
  height: 100vh; }

.container-guttersFalse {
  display: grid;
  grid-template-columns: 6% repeat(5, 1fr) 6%;
  grid-template-rows: 96px repeat(5, 1fr);
  height: 100vh; }

.global_navigation-container {
  align-items: center;
  display: grid;
  grid-column: 1 / 8;
  grid-row: 1;
  grid-template-columns: 6% repeat(2, 1fr) 6%;
  grid-template-rows: 1fr; }

.global_navigation-logo-container,
.global_navigation-icon-container {
  font-size: 1.8rem; }

.global_navigation-logo-container {
  font-family: "Josefin Sans", monospace;
  font-weight: 300;
  grid-column: 2;
  letter-spacing: 0.18rem;
  z-index: 999; }

.global_navigation-icon-container {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: end;
  z-index: 99999; }

.global_navigation-icon-container--open i {
  color: #f2f3f4;
  transform: rotateY(180deg);
  transition: color 2.4s, transform 1.2s; }

.global_navigation-overlay {
  background-color: #232223;
  color: #f2f3f4;
  display: grid;
  grid-template-columns: 6% 1fr 2fr 6%;
  grid-template-rows: 96px 1fr 2fr 6%;
  position: absolute;
  height: 100%;
  overflow: scroll;
  right: 0;
  top: 0;
  transition: 0.6s;
  width: 0%;
  z-index: 9999; }

.global_navigation-overlay--open {
  width: 100%; }

.connect-contact-list {
  align-self: end;
  font-size: 2.0rem;
  grid-column: 2 / 3;
  grid-row: 3; }
  .connect-contact-list .connect-contact-link {
    display: inline-flex;
    padding-right: 1.2rem; }

.global_navigation-links {
  align-self: end;
  font-family: "Josefin Sans", monospace;
  font-size: 1.8rem;
  font-weight: 100;
  grid-column: 3;
  grid-row: 3;
  letter-spacing: 0.8rem;
  justify-self: end;
  text-align: right;
  text-transform: uppercase; }
  .global_navigation-links li {
    margin-top: 2.0rem; }

.global_footer-container {
  display: grid;
  grid-column: 1 / 6;
  grid-row: 7 / 8; }
  .global_footer-container li {
    display: inline; }

.vertical_cta-left,
.vertical_cta-right {
  color: #4d1a7f;
  font-family: "Josefin Sans", monospace;
  font-size: 1.0rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase; }

.vertical_cta-left {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: 0% 100%; }

.vertical_cta-right {
  grid-column: 5 / 7;
  grid-row: 7 / 8;
  justify-self: end;
  transform: rotate(90deg) translateY(100%);
  transform-origin: 100% 100%; }

.index-container {
  display: grid;
  grid-column: 2 / 7;
  grid-row: 2 / 7;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr; }

.index-content {
  align-self: end;
  letter-spacing: 0.2rem; }

.index-header {
  font-size: 2.0rem;
  line-height: 3.5rem; }

.index-intro-paragraph {
  font-family: "Josefin Sans", monospace;
  font-size: 2.0rem;
  font-weight: 300;
  letter-spacing: 0.06rem;
  line-height: 4.0rem;
  margin-top: 18px;
  text-transform: lowercase; }

.index-highlighted-clients {
  display: inline; }
  .index-highlighted-clients li {
    display: inline; }
    .index-highlighted-clients li:after {
      content: ", "; }
    .index-highlighted-clients li:nth-last-child(2):after {
      content: ", and "; }
    .index-highlighted-clients li:last-child:after {
      content: "."; }

.about-container {
  display: grid;
  font-family: "Josefin Sans", monospace;
  font-size: 4.0rem;
  font-weight: 100;
  grid-column: 1 / 8;
  grid-row: 1 / 8;
  grid-template-columns: 6% 1fr 3fr 1fr 6%;
  grid-template-rows: 1fr;
  height: 100vh; }

.about-content {
  grid-column: 1 / 7;
  grid-row: 1 / 2; }

.carousel {
  display: grid;
  grid-template-columns: 6% 1fr 3fr 1fr 6%;
  grid-template-rows: 1fr; }

.carousel__list {
  grid-column: 3 / 4;
  grid-row: 1 / 2; }

.carousel .carousel__item > span {
  align-items: center;
  display: grid;
  height: 100vh;
  justify-items: center;
  text-align: center; }

.carousel__indicator::before {
  background-color: #000; }

.capability,
.capability-type {
  display: inline-flex; }
  .capability:after,
  .capability-type:after {
    content: ", "; }
  .capability:nth-last-child(2):after,
  .capability-type:nth-last-child(2):after {
    content: ", and "; }
  .capability:last-child:after,
  .capability-type:last-child:after {
    content: "."; }

.capabilities-container {
  display: grid;
  grid-column: 2 / 7;
  grid-row: 2 / 7;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: .2fr 2fr 1fr; }

.capabilities-list {
  font-family: "Josefin Slab", serif;
  font-size: 3.0rem;
  font-weight: 600;
  grid-row: 2 / 3;
  letter-spacing: 0.12rem;
  line-height: 5.0rem; }

.capability-types-title {
  align-self: end;
  font-family: "Josefin Sans", monospace;
  font-size: 2.0rem;
  font-weight: 300;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

.is-active {
  color: #bdc2c7;
  font-weight: bold;
  padding-bottom: 6px;
  text-transform: uppercase; }

.capabilities_detail-container {
  grid-column: 1 / 8;
  grid-row: 2 / 7; }

.capabilities_details-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 6%;
  height: 100%; }

.tabs {
  align-self: center;
  font-family: "Josefin Slab", serif;
  font-size: 120%;
  grid-column: 1;
  justify-self: center;
  line-height: 8.0rem;
  text-align: center; }

.tabs:nth-child(2)
.tab-details {
  grid-column: 2; }

.experience-container {
  display: grid;
  grid-column: 2 / 7;
  grid-row: 1 / 7;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; }

.experience-content {
  align-self: center;
  justify-self: center; }

.experience-client-links {
  font-family: "Josefin Sans", monospace;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.6rem;
  text-align: center;
  text-transform: uppercase; }
  .experience-client-links li {
    margin-top: 30px; }
  .experience-client-links li:hover {
    text-decoration: line-through; }

.experience_detail-container {
  display: grid;
  grid-column: 2 / 7;
  grid-row: 2 / 7;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 0.5fr repeat(5, 1fr) 1fr; }

.experience_detail-content_overview {
  font-family: "Josefin Sans", monospace;
  grid-column: 1 / 5;
  grid-row: 2 / 6; }
  .experience_detail-content_overview h2 {
    font-size: 3.0rem;
    font-weight: 300; }
  .experience_detail-content_overview h4 {
    font-size: 2.0rem;
    font-weight: 100;
    margin-bottom: 0.6rem;
    margin-top: 3.0rem; }
  .experience_detail-content_overview p {
    font-family: "Josefin Slab", serif;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.075rem; }

.experience_detail-organization_overview,
.experience_detail-organization_challenge {
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
  line-height: 2.0rem; }

.experience_detail-organization_overview {
  padding-top: 24px; }

.experience_detail-cta_scroll {
  align-self: end;
  grid-column: 1 / 3;
  grid-row: 7 / 8; }

.experience_detail-content_list {
  align-self: center;
  grid-column: 6 / 8;
  grid-row: 2 / 7; }

.experience_detail-content_list {
  font-family: "Josefin Sans", monospace; }
  .experience_detail-content_list h4 {
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    margin-bottom: 0.8rem;
    text-transform: uppercase; }
  .experience_detail-content_list ul {
    font-weight: 400;
    margin-bottom: 2.5rem;
    text-transform: lowercase; }
    .experience_detail-content_list ul li {
      font-size: 1.2rem;
      letter-spacing: 0.18rem; }
    .experience_detail-content_list ul .experience_detail-service {
      margin-bottom: 12px; }
  .experience_detail-content_list ul:last-child {
    margin-bottom: none; }

.collaboration_atf-container {
  display: grid;
  grid-column: 2 / 7;
  grid-row: 2 / 8;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.25fr 2fr 1fr; }

.collaboration_atf-content {
  grid-column: 1 / 2;
  grid-row: 2 / 2; }

.locations-container {
  display: grid;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr; }
